

/* Resets */

*,
*:after,
*:before {
	box-sizing: border-box;
}


/* Main styles */

body {
	font-family: 'Work Sans', sans-serif;
	margin: 0;
	color: #cecece;
	background: #ffffff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
  color: #F50057;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #D81B60;
}

a:link {

}

.container {

}

.content {
	padding: 0 100px 0 100px;
}


.info {
	width: 75%;
	font-family: 'Work Sans', sans-serif;
	font-size: 26px;
	font-weight: 400;
	line-height: 40px;
	padding-left: 0px;
	text-align: left;
	color: #A4A4A4;
	padding-top: 10%;
}

.strong_title {
	font-size: 60px;
	font-weight: 400;
	color: #4B4B4B;
	text-decoration: none;
}

.strong {
	font-weight: 500;
	color: #4B4B4B;
	text-decoration: underline ;
	text-decoration-style: dotted;
}

.typography_1 {
	display: inline-block;
	width: 100%;
	padding-top: 1px;
}


#type_3 {
	margin-left: 0px;
	display: inline-flex;
	margin-right: 0px;
}

.helvetica_neue_text {
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #303030;
	line-height: 24px;
	display: inline-block;
	max-width: 45%;
	width: 70%;
	margin-top: 20px;
	padding-right: 15px;
}

#gallery {
	width: 100%;
	min-height: 100%;
}

#gallery div {
	width: 100%;
	display: inline-block;
	padding-top: 40px;
}

#gallery img {
	max-width: 100%;
}

	#agallery {
		display: table;
		width: 100%;
		min-height: 100%;
		padding-top: 50px;
	}

	#agallery div {
		width: 47%;
		display: inline-block;
	}

	#agallery div d {
		width: 100%;
		display: inline-block;
	}

	#agallery img {
		max-width: 100%;
	}

#small {
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #303030;
	line-height: 20px;
}

@media screen and (min-width: 2000px) {
    #gallery img {
	max-width: 80%;
}

	#agallery {
		display: table;
		width: 80%;
		min-height: 80%;
		padding-top: 50px;
	}

	#agallery div {
		width: 47%;
		display: inline-block;
	}

	#agallery div d {
		width: 80%;
		display: inline-block;
	}

	#agallery img {
		max-width: 80%;
	}
  }


.w2 {
	display:inline-flex;
	justify-content:
	center;align-items:
	center;width:100%;
	padding-top: 0%;
}

@media screen and (max-width: 900px) {
	.content { padding: 0 20px; }
	.info { width: 100%; }
	.strong_title { font-size: 40px;}
	.info { font-size: 18px; }
} 

@media screen and (max-width: 40em) {
	.bp-header {
		padding-top: 3em;
	}
	.bp-header__main,
	.bp-nav {
		width: 100%;
		text-align: center;
	}
	.dummy-logo {
		display: none;
	}
	.content {
		margin: 0;
	}
	body,
	.container {
		height: auto;
		overflow: auto;
	}
}
